body{
    background-color: #7a337a;
}
form{
    background-color: maroon;
    margin: auto;
    padding-left: 100px;
    border-radius: 10px;
    width: 80%;
    height: 700px;
    margin-left: 10%;
    color: white;
    margin-bottom: 30px;

}
input[type=text],input[type=your name],input[type=your email]input[kikuyu]{
    width: 50%;
    height: 20px;
    border-radius: 5px;

}
button{
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size:larger ;
    font-weight: bold;
    color: black;
}
label{
    text-align: left;
    width: 20%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 30px;

}
button:hover{
    background-color:  darkblue;
}
#about{
    height: 50px;
}
.one{
    width: 6%;
}
.two{
    width: 8%;
}
.three{
    width: 5%;
}
input{
padding-left: 10px;
}
option{
    display: inline-block;
}