.one {
    display: flex;
    margin-top: 30px;
}
    .pone {
        padding-left: 40px;
    }
      img  {
         width: 450px;
          height: 450px;


    }

.two {
    display: flex;
}
    .ptwo{
        padding-left: 40px;
    }

.three {
    display: flex;
}
    .pthree {
        padding-left: 40px;
    }

